* {
  transition: all 450ms ease 0s;
}
html, #root, body {
  transition: unset;
}
@keyframes window-fade-right-in {
  from {
    width: 200%;
  }
  to {
    width: 0;
  }
}
@keyframes window-fade-right-out {
  from {
    width: 0;
  }
  to {
    width: 200%;
  }
}
@keyframes full-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes half-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
.full-rotate {
  transform: rotate(0deg);
  animation: full-rotate 1s linear forwards;
}
.half-rotate {
  transform: rotate(0deg);
  animation: half-rotate 1s linear forwards;
}
@keyframes loading-page {
  0% {
    opacity: 1;
    z-index: 9999;
  }
  50% {
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: 0;
  }
}
@keyframes opacityAnimate {
  0% {
    z-index: 0.1;
  }
  100% {
    z-index: 1;
  }
}
@keyframes list-animate {
  from {
    width: 0px;
  }
  to {
    width: 100%;
  }
}
@keyframes animate {
  from {
    height: 0%;
  }
  to {
    height: 100%;
  }
}
@keyframes back-top-arrow {
  from {
    opacity: 0;
    top: -10%;
  }
  to {
    opacity: 1;
    top: -25%;
  }
}
@keyframes fade-down-arrow {
  from {
    bottom: 5%;
    opacity: 0;
  }
  to {
    bottom: 2%;
    opacity: 1;
  }
}
@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes fade-down {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes fade-right {
  0% {
    opacity: 0;
    transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes fade-left {
  0% {
    opacity: 0;
    transform: translateX(30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes fade-up-right {
  0% {
    opacity: 0;
    transform: translate(-30px, 30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px, 0px);
  }
}
@keyframes fade-up-left {
  0% {
    opacity: 0;
    transform: translate(30px, 30px);
  }
  100% {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}
@keyframes fade-down-right {
  0% {
    opacity: 0;
    transform: translate(-30px, -30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px, 0px);
  }
}
@keyframes fade-down-left {
  0% {
    opacity: 0;
    transform: translate(30px, -30px);
  }
  100% {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.fade-up {
  opacity: 0;
  animation: 1s fade-up ease-in forwards;
}
.fade-down {
  opacity: 0;
  animation: 1s fade-down ease-in forwards;
}
.fade-right {
  opacity: 0;
  animation: 1s fade-right ease-in forwards;
}
.fade-left {
  opacity: 0;
  animation: 1s fade-left ease-in forwards;
}
.fade-up-right {
  opacity: 0;
  animation: 1s fade-up-right ease-in forwards;
}
.fade-up-left {
  opacity: 0;
  animation: 1s fade-up-left ease-in forwards;
}
.fade-down-right {
  opacity: 0;
  animation: 1s fade-down-right ease-in forwards;
}
.fade-down-left {
  opacity: 0;
  animation: 1s fade-down-left ease-in forwards;
}
.fade-in {
  opacity: 0;
  animation: 1s fade-in ease-in forwards;
}
.fade-out {
  opacity: 1;
  animation: 1s fade-out ease-out forwards;
}
@keyframes flip-left {
  from {
    transform: rotateY(-100deg);
  }
  to {
    transform: rotateY(0deg);
  }
}
@keyframes flip-right {
  from {
    transform: rotateY(100deg);
  }
  to {
    transform: rotateY(0deg);
  }
}
@keyframes flip-up {
  from {
    transform: rotateX(100deg);
  }
  to {
    transform: rotateX(0deg);
  }
}
@keyframes flip-down {
  from {
    transform: rotateX(-100deg);
  }
  to {
    transform: rotateX(0deg);
  }
}
.flip-right {
  transform: rotateY(100deg);
  animation: flip-right 1s linear forwards;
}
.flip-left {
  transform: rotateX(-100deg);
  animation: flip-left 1s linear forwards;
}
.flip-up {
  transform: rotateX(100deg);
  animation: flip-up 1s linear forwards;
}
.flip-down {
  transform: rotateX(-100deg);
  animation: flip-down 1s linear forwards;
}
@keyframes zoom-in {
  from {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}
@keyframes zoom-in-up {
  from {
    transform: translateY(30px) scale(0.5);
  }
  to {
    transform: translateY(0px) scale(1);
  }
}
@keyframes zoom-in-down {
  from {
    transform: translateY(-30px) scale(0.5);
  }
  to {
    transform: translateY(0px) scale(1);
  }
}
@keyframes zoom-in-left {
  from {
    transform: translateX(30px) scale(0.5);
  }
  to {
    transform: translateX(0px) scale(1);
  }
}
@keyframes zoom-in-right {
  from {
    transform: translateX(-30px) scale(0.5);
  }
  to {
    transform: translateX(0px) scale(1);
  }
}
@keyframes zoom-out {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.5);
  }
}
@keyframes zoom-out-up {
  from {
    transform: translateY(30px) scale(1);
  }
  to {
    transform: translateY(0px) scale(0.5);
  }
}
@keyframes zoom-out-down {
  from {
    transform: translateY(-30px) scale(1);
  }
  to {
    transform: translateY(0px) scale(0.5);
  }
}
@keyframes zoom-out-right {
  from {
    transform: translateX(-30px) scale(1);
  }
  to {
    transform: translateX(0px) scale(0.5);
  }
}
@keyframes zoom-out-left {
  from {
    transform: translateX(30px) scale(1);
  }
  to {
    transform: translateX(0px) scale(0.5);
  }
}
.zoom-in {
  transform: scale(0.5);
  animation: 1s zoom-in linear forwards;
}
.zoom-out {
  transform: scale(1);
  animation: 1s zoom-out linear forwards;
}
.zoom-in-up {
  transform: translateY(30px) scale(0.5);
  animation: 1s zoom-in-up linear forwards;
}
.zoom-in-down {
  transform: translateY(-30px) scale(0.5);
  animation: 1s zoom-in-down linear forwards;
}
.zoom-in-right {
  transform: translateX(-30px) scale(0.5);
  animation: 1s zoom-in-right linear forwards;
}
.zoom-in-left {
  transform: translateX(30px) scale(0.5);
  animation: 1s zoom-in-left linear forwards;
}
.zoom-out-up {
  transform: translateY(30px) scale(1);
  animation: 1s zoom-out-up linear forwards;
}
.zoom-out-down {
  transform: translateY(-30px) scale(1);
  animation: 1s zoom-out-down linear forwards;
}
.zoom-out-right {
  transform: translateX(-30px) scale(1);
  animation: 1s zoom-out-right linear forwards;
}
.zoom-out-left {
  transform: translateX(30px) scale(1);
  animation: 1s zoom-out-left linear forwards;
}
@keyframes text-animate {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: -10px;
    opacity: 1;
  }
}
@keyframes typing-animate {
  from {
    width: 0;
  }
  to {
    width: 165px;
  }
}
@keyframes maintenance-typing {
  from {
    width: 0;
  }
  to {
    width: 660px;
  }
}
@keyframes loading-typing-animate {
  0% {
    width: 0;
  }
  20% {
    width: 0;
  }
  45% {
    width: 300px;
  }
  55% {
    width: 300px;
  }
  100% {
    width: 0;
  }
}
@keyframes cursor-animate {
  from {
    border-right-color: #4d5bf9;
  }
  to {
    border-right-color: transparent;
  }
}
@keyframes h-dot-animate {
  from {
    opacity: 0;
    bottom: 10px;
    z-index: -1;
  }
  to {
    opacity: 1;
    bottom: 20px;
    z-index: 1;
  }
}
@keyframes v-dot-animate {
  from {
    opacity: 0;
    right: 10px;
    z-index: -1;
  }
  to {
    opacity: 1;
    right: 20px;
    z-index: 1;
  }
}
@keyframes blob-animate {
  0%, 100% {
    border-radius: 64% 36% 27% 73% / 55% 48% 42% 45%;
  }
  25% {
    border-radius: 73% 27% 26% 38% / 73% 36% 64% 27%;
  }
  50% {
    border-radius: 28% 72% 44% 56% / 49% 40% 60% 51%;
  }
  75% {
    border-radius: 40% 60% 70% 30% / 47% 62% 38% 53%;
  }
}
body, html, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  min-height: 100%;
  box-sizing: border-box;
  background: #0f0f0f;
  font-family: "Poppins", sans-serif;
}
html {
  background: transparent;
}
* {
  box-sizing: border-box;
}
.white-active body {
  background: #f0f0f0 !important;
}
.white-active #root {
  background: #f0f0f0 !important;
}
.white-active .user.mypic {
  box-shadow: none;
  margin: 5px;
}
.white-active .boxShadow {
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.09);
}
.flex60 {
  flex: 60%;
}
.flex20 {
  flex: 20%;
}
.flex100 {
  flex: 100%;
}
.overflowHide {
  overflow: hidden;
}
.minimal .list-container {
  display: none;
}
.smartphone-list {
  padding: 0;
}
.smartphone-list .list {
  padding: initial;
}
.container {
  position: relative;
  width: 100%;
  height: 100%;
}
.start-center {
  align-items: flex-start !important;
}
.zero-opacity {
  opacity: 0;
}
.homeWithDot {
  position: absolute;
  opacity: 0;
}
.half-width {
  width: 50%;
}
.half-height {
  height: 50%;
}
.full-width {
  width: 100%;
}
.full-height {
  height: 100%;
}
.mb1 {
  margin-bottom: 1rem;
}
.mb2 {
  margin-bottom: 1.5rem;
}
.mb3 {
  margin-bottom: 2rem;
}
.mb4 {
  margin-bottom: 2.5rem;
}
.mb5 {
  margin-bottom: 3rem;
}
.mb6 {
  margin-bottom: 3.5rem;
}
.aboutme {
  position: relative;
  margin-left: 5%;
}
.info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.aboutpic {
  position: relative;
}
.loading-container, .maintenance {
  position: absolute;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #0f0f0f;
  z-index: 9999;
}
.loading-container {
  animation: loading-page 10s linear;
  animation-fill-mode: forwards;
}
.loading-logo {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50px;
}
.bars {
  display: none;
}
.loading-bar {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 250px;
  height: 250px;
  border-radius: 50%;
}
.loading-bar:before {
  position: absolute;
  content: "";
  width: 84%;
  height: 84%;
  background-color: white;
  border-radius: 50%;
}
.circle {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.circle:before {
  position: absolute;
  content: "";
  width: 84%;
  height: 84%;
  background-color: white;
  border-radius: 50%;
}
.loading-text {
  z-index: 1;
}
.loading-text .typing-animate {
  animation: loading-typing-animate 9.5s steps(29, end) 0s 1 normal both, cursor-animate 600ms steps(29, end) infinite;
}
.maintenance .maintenance-typing {
  animation: maintenance-typing 4s steps(29, end) 0s 1 normal both, cursor-animate 600ms steps(29, end) infinite;
}
.value-bar {
  position: relative;
  z-index: 1;
  font-size: 50px;
}
.flex {
  position: relative;
  display: flex;
}
.grid {
  display: grid;
}
.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}
.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
.grid-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}
.grid-cols-4 {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}
.loading-color {
  color: #231c3d;
}
.text-color {
  color: #4d5bf9;
}
.mypic {
  position: relative;
  background: url("../images/mypic.jpg") no-repeat center center;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-size: cover;
}
.user.mypic {
  box-shadow: none;
  margin: 5px;
}
.myinfo {
  position: relative;
  padding: 0px;
}
.myinfo span {
  margin: 10px;
}
nav {
  display: block;
  position: relative;
  text-align: center;
  float: right;
}
ul {
  list-style: none;
  position: relative;
  text-align: left;
  margin: 0;
}
.flex-end {
  justify-content: flex-end;
}
.flex-start {
  align-items: flex-start;
}
.flex-wrap {
  flex-flow: row wrap;
}
.flex-grow {
  flex-grow: 1;
}
.flex-row {
  flex-direction: row;
}
.justify-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}
.items-center {
  align-items: center;
}
.auto {
  margin: 0 auto;
  max-width: 1200px;
}
.block {
  display: block;
  margin-bottom: 0;
}
.content {
  max-width: 1200px;
  max-height: 1200px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
section {
  margin: 0 0 30px;
}
.Home {
  position: relative;
  background: #0f0f0f;
  opacity: 1;
}
.Home-full {
  position: relative;
  background: #0f0f0f;
  opacity: 1;
}
.Home-white {
  position: relative;
  background: #f0f0f0;
  opacity: 1;
}
.Home-white-full {
  position: relative;
  background: #f0f0f0;
}
.Projects {
  position: relative;
  background: rgba(30, 30, 30, 0.2);
  opacity: 0;
}
.Projects .content {
  flex-direction: column;
}
.Projects-full {
  position: relative;
  background: rgba(30, 30, 30, 0.02);
  opacity: 1;
}
.Projects-full::after {
  background: rgba(51, 51, 51, 0.4);
}
.Projects-white {
  position: relative;
  background: rgba(205, 205, 205, 0.2);
}
.Projects-white .content {
  flex-direction: column;
}
.Projects-white-full {
  position: relative;
  background: rgba(205, 205, 205, 0.2);
  opacity: 1;
}
.Language {
  position: relative;
  background: #0f0f0f;
  opacity: 0;
}
.Language .content {
  top: 10%;
  height: 90%;
}
.Language-full {
  position: relative;
  background: #0f0f0f;
  opacity: 1;
}
.Language-white {
  position: relative;
  background: #f0f0f0;
  opacity: 0;
}
.Language-white .content {
  top: 10%;
  height: 90%;
}
.Language-white-full {
  position: relative;
  opacity: 1;
  background: #f0f0f0;
}
.Footer-full {
  position: relative;
  background-color: rgba(5, 5, 5, 0.2);
}
.Footer-white-full {
  position: relative;
  background-color: rgba(255, 255, 255, 0.9);
}
.screen-resolution {
  width: 1200px;
  max-height: 100%;
  min-height: 900px;
}
.Footer {
  margin: unset;
  z-index: -1;
}
.white-active .border-bar:before {
  content: '';
  position: absolute;
  width: calc(100% - 4px);
  top: -15%;
  left: 0;
  border: 1px solid rgba(30, 30, 30, 0.9);
  border-radius: 10px;
}
.white-active .footer.border-bar:before {
  content: '';
  position: absolute;
  width: calc(100% - 4px);
  top: 10%;
  left: 0;
  border: 1px solid rgba(30, 30, 30, 0.9);
  border-radius: 10px;
}
.border-bar:before {
  content: '';
  position: absolute;
  width: calc(100% - 4px);
  top: -15%;
  left: 0;
  border: 1px solid rgba(235, 235, 235, 0.09);
  border-radius: 10px;
}
.footer {
  min-height: 400px;
}
.footer.border-bar:before {
  content: '';
  position: absolute;
  width: calc(100% - 4px);
  top: 10%;
  left: 0;
  border: 1px solid rgba(235, 235, 235, 0.09);
  border-radius: 10px;
}
.text-indent {
  text-indent: 20px;
}
.margin {
  margin: 10px;
}
.border-bar {
  position: relative;
  width: 100%;
  height: 1px;
  margin-top: 40px;
  border: 1px solid #4d5bf9;
}
.developed {
  position: relative;
  width: 100%;
  height: 50%;
}
.home-dots {
  position: absolute;
  top: 0;
  left: 0;
}
.animHome {
  z-index: 1;
}
.animOpac {
  opacity: 0;
}
.animHomer {
  z-index: -1;
}
.full-page {
  position: absolute;
  width: 100%;
  height: 100%;
}
.home {
  width: 1200px;
  max-height: 100%;
  min-height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
.home h1 {
  font-size: 40px;
  margin: 0px;
}
.home .animate-title.active {
  animation-delay: 6.5s;
}
.projects {
  width: 1200px;
  max-height: 100%;
  min-height: 800px;
}
.projects .back-image:hover + .project-text {
  animation: text-animate 1s forwards;
}
.language {
  width: 1200px;
  max-height: 100%;
  min-height: 800px;
}
.white {
  color: white;
}
.black {
  color: black;
}
.background-white {
  background: white;
}
.background-black {
  background: black;
}
.white-color {
  color: rgba(255, 255, 255, 0.5);
}
.white-color:hover {
  color: white;
}
.menu .white-color:hover:before {
  animation: list-animate 1s ease;
  animation-fill-mode: forwards;
}
.menu .white-color:before {
  content: "";
  position: absolute;
  width: 0px;
  bottom: 0;
  left: 1px;
  border-bottom: 2px solid white;
}
.menu .black-color:hover:before {
  animation: list-animate 1s ease;
  animation-fill-mode: forwards;
}
.menu .black-color:before {
  content: "";
  position: absolute;
  width: 0px;
  bottom: 0;
  left: 1px;
  border-bottom: 2px solid white;
  border-bottom: 2px solid black;
}
.black-color {
  color: rgba(0, 0, 0, 0.5);
}
.black-color:hover {
  color: black;
}
.link {
  cursor: pointer;
}
.navbar {
  position: fixed;
  display: inline-block;
  width: 100%;
  background: transparent;
  z-index: 2;
  padding: 10px;
}
.navbar .name {
  text-align: center;
}
.navbar .name span {
  font-size: 25px;
}
.navbar .option {
  text-align: center;
}
.navbar .option:hover .hover-effect {
  display: block;
}
.navbar .list-container {
  text-align: center;
}
.navbar .menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 50%;
  height: 100%;
}
.navbar .menu ul {
  display: flex;
  margin-right: 50px;
}
.flex80 {
  flex: 80%;
}
.white-active .list .theme {
  border: 1px solid rgba(39, 39, 42, 0.2);
}
.list {
  display: flex;
}
.list .lang, .list .bars, .list .renderHome {
  transform: translateY(2px);
}
.list .lang {
  transform: translateY(0px);
}
.list li {
  margin: 5px;
}
.list .theme {
  position: relative;
  border: 1px solid #27272a;
  margin: 0px;
  transform: translateY(0px);
}
.list .theme .active {
  background-color: #4d5bf9;
}
.list .theme .active svg {
  animation: full-rotate 1s linear forwards;
}
.list .theme .active svg.white-color {
  color: white;
}
.list .theme .active svg.black-color {
  color: #1c1c1e;
}
.list .theme .dark-theme {
  border-top-left-radius: 9px;
  border-bottom-left-radius: 9px;
  padding-left: 5px;
  padding-right: 5px;
}
.list .theme .white-theme {
  border-top-right-radius: 9px;
  border-bottom-right-radius: 9px;
  padding-right: 5px;
  padding-left: 5px;
}
li {
  position: relative;
  list-style: none;
  cursor: pointer;
}
li svg {
  font-size: 1.5rem;
}
a {
  text-decoration: none;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.column {
  flex-direction: column;
}
.row-reverse {
  flex-direction: row-reverse;
}
.column-reverse {
  flex-direction: column-reverse;
}
.center-home-half {
  width: 60% !important;
  flex-flow: row wrap;
}
.center-projects-half {
  width: 60% !important;
  flex-flow: row wrap;
}
.center-language-half {
  width: 60% !important;
  flex-flow: row wrap;
}
.center-home-v {
  flex-direction: row-reverse;
}
.center-projects-v {
  flex-direction: row-reverse;
}
.center-language-v {
  flex-direction: row-reverse;
}
.message {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  word-break: break-word;
}
.message-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  word-break: break-word;
}
.name-letters {
  width: 200px;
  height: 200px !important;
}
.animate {
  border-radius: 10px;
  padding: 10px;
}
.image {
  position: relative;
  width: 700px;
  height: 500px;
}
.text {
  position: relative;
  display: flex;
  word-break: break-word;
  overflow-wrap: break-word;
  overflow: hidden;
}
.font1 {
  font-size: 1rem;
}
.font1-2 {
  font-size: 1.2rem;
}
.font1-5 {
  font-size: 1.5rem;
}
.font2 {
  font-size: 2rem;
}
.font2-5 {
  font-size: 2.5rem;
}
.font3 {
  font-size: 3rem;
}
.font3-5 {
  font-size: 3.5rem;
}
.font4 {
  font-size: 4rem;
}
.font4-5 {
  font-size: 4.5rem;
}
.font5 {
  font-size: 5rem;
}
.font6-5 {
  font-size: 5.5rem;
  font-size: 6.5rem;
}
.font6 {
  font-size: 6rem;
}
.slider {
  display: flex;
  width: calc(700%);
  height: 400px;
  max-height: 400px;
  position: relative;
}
.slider .slide-card {
  position: absolute;
  height: 400px;
  width: 750px;
  border-radius: 10px;
}
.slider .slide-card img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.slider .card.slide-card {
  height: 300px;
  width: 400px;
  padding: 0;
  margin: 0;
}
.slider .card.slide-card #FirstSlide {
  opacity: 1;
}
.slider .slide {
  width: calc(14.2857%);
}
.slider .cont-arrow-left {
  position: absolute;
  display: flex;
  width: 10%;
  height: 100%;
  top: 0;
  left: 3%;
}
.slider .cont-arrow-right {
  position: absolute;
  display: flex;
  width: 10%;
  height: 100%;
  top: 0;
  right: 3%;
}
.slider-card {
  width: 100%;
}
.slide-img {
  width: 100%;
  height: 100%;
}
.slide-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30%;
}
.slide-hover {
  opacity: 0.9;
}
.slide-hover:hover {
  opacity: 1;
}
#FirstSlide {
  position: absolute;
  top: 0px;
  left: calc(50% - 375px);
  z-index: 3;
  transform: scale(1);
  transition: all 450ms ease 0s;
  opacity: 1;
}
.card#FirstSlide {
  flex-direction: column;
  top: 50px;
  left: calc(50% - 195px);
}
.card#SecondSlide {
  flex-direction: column;
  top: 50px;
  left: calc(50% - 195px);
  transform: translateX(207.75px) translateX(-25%) scale(0.85);
}
.card#ThirdSlide {
  flex-direction: column;
  top: 50px;
  left: calc(50% - 195px);
  transform: translateX(410.5px) translateX(-50%) scale(0.7);
}
.card#FourthSlide {
  flex-direction: column;
  top: 50px;
  left: calc(50% - 195px);
  transform: translateX(-410.5px) translateX(50%) scale(0.7);
}
.card#FifthSlide {
  flex-direction: column;
  top: 50px;
  left: calc(50% - 195px);
  transform: translateX(-207.75px) translateX(25%) scale(0.85);
}
.card.slide-card .slide-info {
  width: auto;
  height: auto;
}
.card.slide-card .slide-title {
  width: auto;
  height: auto;
}
.card.slide-card .blob {
  position: absolute;
  width: 100px;
  height: 100px;
  top: -100px;
}
#SecondSlide {
  position: absolute;
  top: 0px;
  left: calc(50% - 375px);
  z-index: 2;
  transform: translateX(277.75px) translateX(-25%) scale(0.85);
  transition: all 450ms ease 0s;
}
#ThirdSlide {
  position: absolute;
  top: 0px;
  left: calc(50% - 375px);
  z-index: 1;
  transform: translateX(555.5px) translateX(-50%) scale(0.7);
  transition: all 450ms ease 0s;
}
#FourthSlide {
  position: absolute;
  top: 0px;
  left: calc(50% - 375px);
  z-index: 1;
  transform: translateX(-555.5px) translateX(50%) scale(0.7);
  transition: all 450ms ease 0s;
}
#FifthSlide {
  position: absolute;
  top: 0px;
  left: calc(50% - 375px);
  z-index: 2;
  transform: translateX(-277.75px) translateX(25%) scale(0.85);
  transition: all 450ms ease 0s;
}
.slideOp {
  display: none;
}
.slide {
  position: relative;
}
.slide img {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
.arrow-container {
  position: relative;
  width: 40px;
  height: 40px;
  border: 1px solid #4d5bf9;
  border-radius: 50%;
}
.arrow-container .arrow-top {
  -webkit-transform: rotate(-45deg) translate(-2px, 1px);
  transform: rotate(-45deg) translate(-2px, 1px);
}
.arrow-container .arrow-bottom {
  -webkit-transform: rotate(-45deg) translate(2px, -1px);
  transform: rotate(-45deg) translate(2px, -1px);
}
.arrow-container .arrow-right {
  -webkit-transform: rotate(-45deg) translate(-1px, -2px);
  transform: rotate(-45deg) translate(-1px, -2px);
}
.arrow-container .arrow-left {
  -webkit-transform: rotate(-45deg) translate(1px, 1px);
  transform: rotate(-45deg) translate(1px, 1px);
}
.window {
  position: relative;
  background-blend-mode: multiply;
  overflow: hidden;
  background-color: rgba(48, 94, 201, 0.1);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.window:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: -50%;
  -webkit-transform: skew(-20deg);
  transform: skew(-20deg);
  width: 200%;
  height: 100%;
  background: #4d5bf9;
  mix-blend-mode: multiply;
  z-index: -1;
  animation: window-fade-right-out 0.5s ease-out;
}
.window:hover:before {
  animation: window-fade-right-in 0.5s ease-in forwards;
}
.text-v {
  writing-mode: vertical-rl;
  text-orientation: upright;
  height: 40% !important;
  width: 80% !important;
}
.text-full {
  width: 100%;
  height: 100%;
  font-size: 20px;
}
.hover-effect {
  position: absolute;
  transform: translateY(-10%);
  opacity: 0;
}
div:hover > .hover-effect {
  animation: animate-text 1s ease-in;
  animation-fill-mode: forwards;
}
.content-arrow {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 2%;
  left: 50%;
  width: 50px;
  height: 50px;
  animation: fade-down-arrow 2s infinite;
  cursor: pointer;
  z-index: 9;
  transform: translate(-50%, 0%);
  border: 1px solid #4d5bf9;
  border-radius: 50%;
  background-color: #4d5bf9;
}
.content-arrow:hover .arrow-bottom {
  border-bottom: 4px solid rgba(235, 235, 235, 0.7);
  border-left: 4px solid rgba(235, 235, 235, 0.7);
}
.content-arrow:hover .arrow-top {
  border-top: 4px solid rgba(235, 235, 235, 0.7);
  border-right: 4px solid rgba(235, 235, 235, 0.7);
}
.content-arrow:hover .text-arrow {
  font-weight: bold;
}
.arrow {
  width: 10px;
  height: 10px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.arrow-bottom {
  border-top: 1px solid transparent;
  border-bottom: 2px solid rgba(235, 235, 235, 0.7);
  border-left: 2px solid rgba(235, 235, 235, 0.7);
  border-right: 1px solid transparent;
}
.arrow-bottom:hover {
  border-bottom: 4px solid rgba(235, 235, 235, 0.7);
  border-left: 4px solid rgba(235, 235, 235, 0.7);
}
html.white-active .arrow-bottom {
  border-bottom: 2px solid rgba(30, 30, 30, 0.7);
  border-top: 1px solid transparent;
  border-right: 1px solid transparent;
  border-left: 2px solid rgba(30, 30, 30, 0.7);
}
html.white-active .arrow-bottom:hover {
  border-bottom: 4px solid rgba(30, 30, 30, 0.7);
  border-left: 4px solid rgba(30, 30, 30, 0.7);
}
html.white-active .content-arrow:hover .arrow-bottom {
  border-bottom: 4px solid rgba(30, 30, 30, 0.7);
  border-left: 4px solid rgba(30, 30, 30, 0.7);
}
html.white-active .content-arrow:hover .arrow-top {
  border-top: 4px solid rgba(30, 30, 30, 0.7);
  border-right: 4px solid rgba(30, 30, 30, 0.7);
}
html.white-active .arrow-left {
  border-top: 2px solid rgba(30, 30, 30, 0.7);
  border-bottom: 1px solid transparent;
  border-right: 1px solid transparent;
  border-left: 2px solid rgba(30, 30, 30, 0.7);
}
html.white-active .arrow-left:hover {
  border-top: 4px solid rgba(30, 30, 30, 0.7);
  border-left: 4px solid rgba(30, 30, 30, 0.7);
}
html.white-active .arrow-right {
  border-bottom: 2px solid rgba(30, 30, 30, 0.7);
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
  border-right: 2px solid rgba(30, 30, 30, 0.7);
}
html.white-active .arrow-right:hover {
  border-bottom: 4px solid rgba(30, 30, 30, 0.7);
  border-right: 4px solid rgba(30, 30, 30, 0.7);
}
html.white-active .arrow-top {
  border-top: 2px solid rgba(30, 30, 30, 0.7);
  border-bottom: 1px solid transparent;
  border-left: 1px solid transparent;
  border-right: 2px solid rgba(30, 30, 30, 0.7);
}
html.white-active .arrow-top:hover {
  border-top: 4px solid rgba(30, 30, 30, 0.7);
  border-right: 4px solid rgba(30, 30, 30, 0.7);
}
.arrow-left {
  border-top: 2px solid rgba(235, 235, 235, 0.7);
  border-bottom: 1px solid transparent;
  border-left: 2px solid rgba(235, 235, 235, 0.7);
  border-right: 1px solid transparent;
}
.arrow-left:hover {
  border-top: 4px solid rgba(235, 235, 235, 0.7);
  border-left: 4px solid rgba(235, 235, 235, 0.7);
}
.arrow-right {
  border-top: 1px solid transparent;
  border-bottom: 2px solid rgba(235, 235, 235, 0.7);
  border-left: 1px solid transparent;
  border-right: 2px solid rgba(235, 235, 235, 0.7);
}
.arrow-right:hover {
  border-bottom: 4px solid rgba(235, 235, 235, 0.7);
  border-right: 4px solid rgba(235, 235, 235, 0.7);
}
.arrow-top {
  border-top: 2px solid rgba(235, 235, 235, 0.7);
  border-bottom: 1px solid transparent;
  border-left: 1px solid transparent;
  border-right: 2px solid rgba(235, 235, 235, 0.7);
}
.arrow-top:hover {
  border-top: 4px solid rgba(235, 235, 235, 0.7);
  border-right: 4px solid rgba(235, 235, 235, 0.7);
}
.back-top {
  position: fixed;
  display: none;
  bottom: 30px;
  right: 30px;
  width: 50px;
  height: 50px;
  z-index: 9999;
  cursor: pointer;
  opacity: 0;
  border-radius: 50%;
}
.back-top .content-arrow {
  transform: translate(-50%, 0%);
}
.back-top.active {
  display: flex;
  animation: fade-in 2s linear forwards;
}
.back-top.active .content-arrow {
  animation: back-top-arrow 2s linear infinite;
}
.toggle-menu {
  position: absolute;
  display: flex;
  justify-content: center;
  text-indent: 8%;
  flex-direction: column;
  width: 200px;
  border-radius: 8px;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.03);
  opacity: 0;
}
.toggle-menu .title {
  margin: 0;
}
.lang .toggle-menu {
  transform: translate(15%, 65%);
}
.user {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.user .toggle-menu {
  transform: translate(-35%, 40%);
}
.menu-items {
  position: relative;
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.menu-items span {
  font-weight: bold;
  padding: 1px;
  margin: 5px;
  border: 1px solid transparent;
  border-radius: 5px;
}
.social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
}
.social-icon svg {
  margin-right: 10px;
  transform: translateY(0%);
}
link {
  cursor: pointer;
}
.button-container {
  position: relative;
  width: 100%;
}
.button {
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  margin: 5px;
  z-index: 0;
}
button {
  border: none;
}
.letterSpacing {
  letter-spacing: 5px;
}
.text-center {
  text-align: center;
}
.social {
  position: relative;
  display: flex;
  z-index: 1;
}
.social div {
  margin: 10px;
  margin-left: 0px;
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}
.hover {
  border: 1px solid #27272a;
}
.hover:hover {
  background-color: rgba(255, 255, 255, 0.09);
}
.hover:hover .white-color {
  color: white;
}
.hover-white {
  border: 1px solid rgba(39, 39, 42, 0.2);
}
.hover-white:hover {
  background-color: white;
}
.hover-white:hover .black-color {
  color: black;
}
.fwaves {
  position: absolute;
  transform: translateY(0%);
}
.swaves {
  position: absolute;
  transform: translateY(-55%);
}
.title {
  position: relative;
  display: flex;
  z-index: 1;
  position: relative;
  word-break: break-word;
}
.title .project-text {
  position: absolute;
  width: 90%;
  height: 30%;
  margin: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  bottom: -100px;
  opacity: 0;
  border: 1px solid rgba(0, 0, 0, 0.9);
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 10px;
}
.title-v {
  writing-mode: vertical-lr;
  text-orientation: upright;
  width: 20%;
  word-break: break-word;
  flex: 20%;
}
.title-rl {
  writing-mode: vertical-rl;
  text-align: initial;
}
.title-lr {
  writing-mode: vertical-lr;
  text-align: initial;
}
.block-title-right {
  position: absolute !important;
  right: -20px;
  top: -10px;
}
.block-title-left {
  position: absolute !important;
  left: -20px;
  top: -10px;
}
.disable-center {
  justify-content: initial;
  align-items: initial;
}
.title-items {
  padding-top: 3px;
  padding-bottom: 3px;
}
.t-item {
  width: 100%;
  margin: 3px;
}
.white-less {
  color: rgba(255, 255, 255, 0.5);
}
.black-less {
  color: rgba(0, 0, 0, 0.5);
}
.t-item.white-less:before {
  content: "";
  position: absolute;
  bottom: 1px;
  left: 1px;
  top: 0;
  right: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.09);
  z-index: -1;
}
.t-item.black-less:before {
  content: "";
  position: absolute;
  bottom: 1px;
  left: 1px;
  top: 0;
  right: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.09);
  z-index: -1;
}
.animate-title {
  transform: translateY(-30px);
  opacity: 0;
}
.animate-title.active {
  animation: 0.5s title-animation ease-in forwards;
  animation: 0.5s title-animation ease-in forwards;
  animation: 0.5s title-animation ease-in forwards;
  animation-delay: 0.5s;
  animation-delay: 0.5s;
  animation-delay: 0.5s;
}
.content-image {
  position: relative;
  width: 100%;
  height: 100%;
}
.content-project {
  position: relative;
  width: 100%;
  height: 100%;
}
.borderRounder {
  border: 1px solid transparent;
  border-radius: 10px;
}
.card-container, .box-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  perspective: 1000px;
}
.box {
  position: relative;
  width: 350px;
  height: 350px;
  background-color: white;
  z-index: 1;
  margin: 10px;
}
.box .title-container {
  position: absolute;
  bottom: 0%;
  left: 0;
  width: 100%;
  height: 20%;
  text-indent: 20px;
  top: unset;
  max-width: unset;
}
.box-slide {
  position: relative;
  width: 600px;
  height: 350px;
  background-color: white;
  z-index: 1;
  margin: 10px;
}
.box-slide .img {
  width: 100%;
  height: 80%;
}
.box-slide .title-container {
  position: absolute;
  bottom: 0%;
  left: 0;
  width: 100%;
  height: 20%;
  top: unset;
  max-width: unset;
}
.box-slide .title {
  text-indent: 20px;
  flex-grow: 1;
}
.box-slide .button-container {
  width: auto;
}
.boxShadow {
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.5);
}
.card-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 10px;
}
.card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 10px;
  z-index: 1;
  flex: 0 0 20%;
  transition: all 1.5s ease;
  transform-style: preserve-3d;
}
.card .card-text {
  margin: 10px;
}
.card .info-card {
  margin: 10px;
}
.card .card-circle {
  position: absolute;
  width: 280px;
  height: 230px;
  top: -4.2em;
  right: -10em;
  z-index: -1;
  background-color: #4d5bf9;
  border-radius: 50%;
  opacity: 0.9;
}
.card .card-animate {
  opacity: 0;
}
.card .card-animate.active {
  animation: 0.2s card-animation ease-in forwards;
  animation-delay: 0.2s;
}
.user-container {
  position: relative;
  width: 100%;
  height: 100%;
}
.block-center .title {
  margin: 10px;
}
.title-page {
  height: 30%;
}
.project-text-black {
  border: 1px solid rgba(255, 255, 255, 0.9);
  background-color: rgba(255, 255, 255, 0.9);
}
.project-text h1 {
  margin: 10px;
}
.project-text h3 {
  margin: 10px;
}
.firstImage {
  background-image: url("../images/prova2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.secondImage {
  background-image: url("../images/prova3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.thirdImage {
  background-image: url("../images/prova4.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.sec-image {
  width: 50%;
  height: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.sec-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
}
.sec-text {
  width: 50%;
  height: 100%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.sec-text .title h1 {
  font-size: 30px;
}
.sec-text .text h1 {
  font-size: 20px;
}
.typing-animate, .maintenance-typing {
  border-right: solid 3px #4d5bf9;
  white-space: nowrap;
  overflow: hidden;
}
.typing-animate {
  animation: typing-animate 4s steps(29, end) 0s 1 normal both, cursor-animate 600ms steps(29, end) infinite;
}
.selesty {
  background: linear-gradient(rgba(0, 0, 0, 0.09), rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.09));
}
.selesty-white {
  background: linear-gradient(rgba(255, 255, 255, 0.02), rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.02));
}
.filter-blur {
  -webkit-backdrop-filter: blur(100px);
  backdrop-filter: blur(100px);
}
.block-1e {
  height: 100% !important;
}
.block-2e {
  height: 50% !important;
}
.block-3e {
  height: 33.3% !important;
}
.block-4e {
  height: 20% !important;
}
.h-dots {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 5%;
  left: 47%;
  height: 20px;
  z-index: 999;
}
.h-dots .hover-dot {
  position: absolute;
  bottom: 10px;
  opacity: 0;
  left: -15px;
  z-index: -1;
  border-radius: 10px;
  padding: 5px;
  font-size: 14px;
}
.h-dots .dot:hover .hover-dot {
  animation: h-dot-animate 1s forwards;
}
.v-dots {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  right: 2%;
  top: 50%;
  width: 20px;
  z-index: 999;
}
.v-dots .hover-dot {
  position: absolute;
  right: 15px;
  top: -5px;
  opacity: 0;
  z-index: -1;
  border-radius: 10px;
  padding: 5px;
  font-size: 14px;
}
.v-dots .dot:hover .hover-dot {
  animation: v-dot-animate 1s forwards;
}
.dot {
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 5px;
}
.dot-arrow-left {
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 5px;
  width: 20px;
  height: 20px;
  border: 1px solid #1c1c1e;
  border-radius: 50%;
  background-color: #1c1c1e;
}
.dot-arrow-right {
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 5px;
  width: 20px;
  height: 20px;
  border: 1px solid #1c1c1e;
  border-radius: 50%;
  background-color: #1c1c1e;
}
.dot-white {
  background-color: rgba(0, 0, 0, 0.3);
}
.dot-white:hover {
  background-color: black;
}
.dot-white .hover-dot {
  border: 1px solid rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 0, 0.3);
}
.dot-black {
  background-color: rgba(235, 235, 235, 0.3);
}
.dot-black:hover {
  background-color: #ebebeb;
}
.dot-black .hover-dot {
  border: 1px solid rgba(235, 235, 235, 0.3);
  background-color: rgba(235, 235, 235, 0.3);
}
.dotB-clicked {
  background-color: #ebebeb;
}
.dotW-clicked {
  background-color: black;
}
.pointer {
  cursor: pointer;
}
.dot-animate {
  position: relative;
}
.language-container-box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
}
.language-container-icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
}
.language-box {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 70%;
  height: 50%;
  border-radius: 10px;
}
.icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  border-radius: 10px;
}
.lang-icon {
  font-size: 150px;
}
.hidden {
  display: none;
}
::-webkit-scrollbar {
  width: 10px;
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.5);
}
.screen {
  width: 100%;
  height: 100%;
}
h1 {
  font-weight: bold;
  color: white;
}
.bold {
  font-weight: bold;
}
.card-list {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}
.card-content-container {
  width: 100%;
  height: 100%;
  position: relative;
  display: block;
  pointer-events: none;
}
.card-content-container.open {
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 1;
  overflow: hidden;
  padding: 40px 0;
}
.card-content {
  pointer-events: auto;
  position: relative;
  border-radius: 20px;
  background: #1c1c1e;
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  top: 10%;
}
.open .card-content {
  height: auto;
  max-width: 700px;
  overflow: hidden;
  pointer-events: none;
}
.open .card-image-container {
  z-index: 1;
}
.open .title-container {
  z-index: 1;
  top: 30px;
  left: 30px;
}
.card-open-link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.card-image-container {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  height: 420px;
  width: 100%;
}
.minimal-elem {
  margin: 10px;
}
.deleted {
  position: relative;
  width: 100%;
  height: 100%;
}
.deleted:after {
  position: absolute;
  top: -10px;
  bottom: 0;
  left: 0;
  right: 0;
  content: "\274c";
  font-size: 50px;
  color: #fff;
  line-height: 100px;
  text-align: center;
}
h2 {
  color: #fff;
  margin: 8px 0;
}
.category {
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
}
.overlay {
  z-index: 1;
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
  will-change: opacity;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 100%;
}
.overlay a {
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100vw;
  left: 50%;
  transform: translateX(-50%);
}
.content-container {
  padding: 460px 0px 0px 0px;
  width: 100%;
}
p {
  color: #9d9ca1;
  font-size: 20px;
  line-height: 28px;
}
.moon {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0 0 20px white, 0 0 20px white, 0 0 40px white;
}
.star {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0 0 20px white, 0 0 20px white, 0 0 40px white;
}
.blob {
  position: relative;
  width: 300px;
  height: 300px;
  animation: blob-animate 8s linear infinite;
  box-shadow: 0 0 10px #4d5bf9, 0 0 10px #4d5bf9, 0 0 10px #4d5bf9;
}
.book {
  position: relative;
  display: flex;
  align-items: center;
  width: 300px;
  height: 300px;
  perspective: 1000px;
  transform: translateX(10%);
}
.book:hover .cover {
  transform: rotateX(10deg) rotateY(-180deg);
}
.book:hover .page {
  transform: rotateX(10deg) rotateY(-180deg);
  z-index: 2;
}
.book:hover .page:nth-child(2) {
  transition-duration: 6s;
}
.book:hover .page:nth-child(3) {
  transition-duration: 5.6s;
}
.book:hover .page:nth-child(4) {
  transition-duration: 5.2s;
}
.book:hover .page:nth-child(5) {
  transition-duration: 4.8s;
}
.book:hover .page:nth-child(6) {
  transition-duration: 4.4s;
}
.cover {
  position: absolute;
  height: 300px;
  width: 260px;
  background-color: #4d5bf9;
  transform: rotateX(10deg);
  border-radius: 2px 10px 10px 2px;
  transform-origin: center left;
  z-index: 1;
  transition: all 3s;
  justify-content: flex-start;
  text-indent: 30px;
}
.back-cover {
  position: absolute;
  height: 300px;
  width: 260px;
  background-color: #4d5bf9;
  transform: rotateX(10deg);
  border-radius: 2px 10px 10px 2px;
  transform-origin: center left;
  z-index: -2;
}
.back-cover:before {
  content: "";
  position: absolute;
  width: 30px;
  height: 100%;
  background-color: #4d5bf9;
  transform: rotateX(10deg);
  transform-origin: center left;
}
.page {
  width: 250px;
  height: 280px;
  background: white;
  position: absolute;
  border-radius: 2px 10px 10px 2px;
  transform: rotateX(10deg) translateX(1px);
  transform-origin: center left;
  z-index: -1;
}
.page:nth-child(2) {
  transition-duration: 3s;
}
.page:nth-child(3) {
  transition-duration: 2.6s;
}
.page:nth-child(4) {
  transition-duration: 2.2s;
}
.page:nth-child(5) {
  transition-duration: 1.8s;
}
.page:nth-child(6) {
  transition-duration: 1.4s;
}
.last-page {
  width: 250px;
  height: 280px;
  background: white;
  position: absolute;
  border-radius: 2px 10px 10px 2px;
  transform: rotateX(10deg) translateX(1px);
  transform-origin: center left;
  z-index: -1;
}
.last-page img {
  position: relative;
  width: 150px;
  display: block;
  border-radius: 50%;
  margin: 20px auto;
  z-index: -1;
}
.shelf-book {
  position: relative;
  width: 500px;
}
.shelf {
  width: 100%;
  height: 63px;
  z-index: -1;
  margin-top: -25px;
  background: transparent url(../components/ShelfBook/shelf.png) no-repeat center center;
  position: relative;
}
.sun {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: inset 0 0 50px white, inset 20px 0 80px red, inset -20px 0 80px #ffd900, inset 20px 0 300px red, inset -20px 0 300px #ffd900, 0 0 50px white, -10px 0 80px red, 10px 0 80px #ffd900;
}
@media only screen and (max-width: 1000px) {
  .circle {
    width: 120px;
    height: 120px;
  }
  .value-bar {
    font-size: 40px;
  }
  #SecondSlide {
    transform: translateX(0) translateX(0) scale(0.85) !important;
  }
  #ThirdSlide {
    transform: translateX(0) translateX(0) scale(0.85) !important;
  }
  #FourthSlide {
    transform: translateX(0) translateX(0) scale(0.85) !important;
  }
  #FifthSlide {
    transform: translateX(0) translateX(0) scale(0.85) !important;
  }
}
@media only screen and (min-width: 600px) and (max-width: 800px) {
  .mypic {
    width: 200px;
    height: 200px;
  }
  .user.mypic {
    width: 40px;
    height: 40px;
  }
  .title-page {
    font-size: 2rem;
  }
}
@media only screen and (min-width: 800px) and (max-width: 1200px) {
  .lang .toggle-menu {
    transform: translate(-25%, 70%);
  }
  .mypic {
    width: 300px;
    height: 300px;
  }
  .user.mypic {
    width: 40px;
    height: 40px;
  }
  .center-home .block-h {
    height: 70%;
  }
  .text h1 {
    font-size: 16px !important;
  }
  .image {
    width: 300px;
    height: 200px;
  }
  .social-icon {
    font-size: 22px !important;
  }
  .lang-icon {
    font-size: 80px !important;
  }
  .icon {
    margin: 0px;
    padding: 10px;
  }
  .language-container-box {
    height: 30%;
  }
  .language-container-icon {
    display: grid;
    gap: 80px;
    grid-template-columns: auto auto auto;
    height: 60%;
  }
  .project-text h1 {
    font-size: 15px !important;
  }
  .project-text h3 {
    font-size: 12px !important;
  }
  .title h1 {
    font-size: 20px !important;
  }
}
@media only screen and (max-width: 520px) {
  .circle {
    width: 100px;
    height: 100px;
  }
  .card .value-bar {
    font-size: 2rem;
  }
  .title-v {
    writing-mode: initial;
    width: auto;
    flex: auto;
  }
  .center-home {
    flex-direction: column;
  }
  .myinfo-container {
    flex: unset;
  }
  .card-container .title-v {
    writing-mode: vertical-lr;
  }
}
@media only screen and (max-width: 600px) {
  .half-width {
    width: unset;
  }
  .minimal-container {
    flex-direction: column;
  }
  .slider .card.slide-card {
    width: 300px;
    height: 200px;
    top: 100px !important;
  }
  .mypic {
    width: 200px;
    height: 200px;
  }
  .user.mypic {
    width: 30px;
    height: 30px;
  }
  .flex80 {
    flex: 80% 0;
  }
  .center-home .block-h {
    height: 70%;
  }
  .text h1 {
    font-size: 8px !important;
  }
  .image {
    width: 300px;
    height: 200px;
  }
  .social-icon {
    font-size: 14px !important;
  }
  .lang-icon {
    font-size: 30px !important;
  }
  .icon {
    margin: 0px;
    padding: 10px;
  }
  .language-container-box {
    height: 30%;
  }
  .language-container-icon {
    display: grid;
    gap: 30px;
    grid-template-columns: auto auto;
    height: 60%;
  }
  .project-text h1 {
    font-size: 15px !important;
  }
  .project-text h3 {
    font-size: 12px !important;
  }
  .title h1 {
    font-size: 10px !important;
  }
  #FirstSlide {
    left: calc(50% - 150px) !important;
  }
  #SecondSlide {
    left: calc(50% - 150px) !important;
  }
  #ThirdSlide {
    left: calc(50% - 150px) !important;
  }
  #FourthSlide {
    left: calc(50% - 150px) !important;
  }
  #FifthSlide {
    left: calc(50% - 150px) !important;
  }
  .title-page {
    font-size: 1.5rem;
  }
  .navbar .name span {
    font-size: 1em;
  }
  .navbar ul li svg {
    font-size: 1em !important;
  }
  .navbar .list-container .list {
    font-size: 1em;
  }
}
@media only screen and (max-width: 650px) {
  .center-home {
    flex-direction: column;
  }
  .flex80 {
    flex: 80% 0;
  }
  .content-arrow {
    transform: translate(-50%, 50%);
  }
}
@media only screen and (max-width: 700px) {
  .card {
    flex: 0 0 40%;
  }
  #FirstSlide {
    left: calc(50% - 190px);
  }
  #SecondSlide {
    left: calc(50% - 190px);
  }
  #ThirdSlide {
    left: calc(50% - 190px);
  }
  #FourthSlide {
    left: calc(50% - 190px);
  }
  #FifthSlide {
    left: calc(50% - 190px);
  }
}
@media only screen and (max-width: 450px) {
  .navbar .name {
    flex-grow: 1;
    text-align: initial;
  }
  .list-container {
    display: none;
  }
  .bars {
    display: block;
  }
  #FirstSlide {
    left: calc(50% - 100px) !important;
  }
  #SecondSlide {
    left: calc(50% - 100px) !important;
  }
  #ThirdSlide {
    left: calc(50% - 100px) !important;
  }
  #FourthSlide {
    left: calc(50% - 100px) !important;
  }
  #FifthSlide {
    left: calc(50% - 100px) !important;
  }
  .slider .card.slide-card {
    width: 200px;
    height: 200px;
    top: 100px !important;
  }
}
@media only screen and (max-width: 550px) {
  .blob.mypic {
    display: none;
  }
  .aboutpic {
    justify-content: flex-start;
    align-items: flex-start !important;
  }
  .aboutme .title {
    font-size: 2rem;
  }
  .card-title .title span {
    font-size: 1.5rem !important;
  }
  #center-home {
    flex-direction: column;
  }
  .developed span {
    font-size: 1.5rem;
  }
  .Footer div {
    font-size: 1em;
  }
}
@media only screen and (max-width: 950px) {
  .card-title .title span {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 850px) {
  .card-title .title span {
    font-size: 2rem;
  }
  .card .info-card {
    flex-direction: column;
  }
  .card .card-text {
    width: 100%;
  }
  .slide-card .card-text {
    width: initial;
  }
}
@media only screen and (max-height: 800px) {
  .screen-resolution {
    min-height: 700px;
  }
}

